
html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(55,55,55);
    color: white;
    padding-top: 0px;
}

.titleDiv {
    font-size: 250%;
    background-color: rgb(100,100,100);
    border-bottom:solid rgb(0,0,0) 3px;
    width: 100%;
}
.contentHolder {
    padding-left: 2cm;
    padding-right: 2cm;

}
.content {
    padding-top: 3cm;
    padding-left: 1cm;
    padding-right: 2cm;

    background-color: rgb(80,80,80);
    padding-top: 0px;
    padding-left: 2cm;
     border-style: solid;
    border-width:2px;
    border-color: rgb(55,55,55) rgb(0,0,0);
    height: 100%;

}

#contentBox {
	margin:0px auto; 
	width:100%;
}

#column1 {
	float:left; margin:0; width:45%;
}

#column2 {
	float:left; margin:0;width:45%;
}

#champion1Field {
	position:relative;
    	width:50%;
}

#chamption2Field {
	position:relative;
    	width:50%;
}

#ItemList {
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	float: left;
	height: 60%;
	width: 85%;
	overflow: auto;
}


#showItems {
    float:left;
    clear:both;
    font-size: 150%;
}
.champButton {
    
    line-height:30px;
    width:100px;     
    height:40px; 
    display: table-cell;
    vertical-align: middle;
    background-color: Transparent;
    border: none;
}
.champButtonImage {
    border-radius: 3px;
    float: left;
    width: 30px;
    height: 30px;
}
.item {
	width: 300px;
}

.itemImage {
    width: 30px;
    height: 30px;
    float: left;
}

.itemName {
}

.percentage {
}
